---
import Layout from "../../../../layouts/Layout.astro";
import { SimpleRepo } from "../../../../cloudstate/simple-repo";
import { useCloud } from "freestyle-sh";

const simpleRepo = useCloud<typeof SimpleRepo>("simple-repo")
const latest = simpleRepo.getLatestCodebaseMetadata();
---
<Layout title="Blobalia">
    <div class="grid grid-cols-[1fr,3fr] w-full h-screen">
        <div class=" border-r border-slate-800 h-full">
            
        </div>
        <div>
            asfasf
        </div>
    </div>
</Layout>